/*GENERELT*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #403e33;
  }

/*TYPOGRAFI*/
.climate-crisis {
  font-family: "Climate Crisis", sans-serif;
  /*font-optical-sizing: auto;*/
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"YEAR" 1979;
}

.metrophobic-regular {
  font-family: "Metrophobic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Metrophobic", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

h1 {
  font-family: "Metrophobic", sans-serif;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 20px;
}

/* HEADER, NAVIGATION + LOGO*/
.header__index {
  background-color: #403e33;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar__link {
  font-family: "Metrophobic", sans-serif;
  color: #F0EEE8;
  transition: color 0.25s;
}

.navbar__link:hover {text-decoration: underline;}

a {text-decoration: none;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  position: relative;
  z-index: 2; /*Havde problemer med at mit logo lå ovenpå navbaren. Fandt løsning her: https://www.w3schools.com/cssref/pr_pos_z-index.php*/
}

.navbar__left,
  .navbar__right {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

.navbar__logo { /*Jeg har brugt ChatGPT til at få logoet til at se ud som i min prototype i Figma. Promt kan ses i bilag 1 i 'P3 AI Bilag'*/
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.9;
  padding-top: 175px;
  color: #B4AFA1;
  z-index: -1; /*Havde problemer med at mit logo lå ovenpå navbaren. Fandt løsning her: https://www.w3schools.com/cssref/pr_pos_z-index.php*/
}

.navbar__logo--de {
  font-family: "Climate Crisis", sans-serif;
  font-size: 80px;
}

.navbar__logo--neergaard {
  font-family: "Climate Crisis", sans-serif;
  font-size: 180px;
}
  
/*INDEX - BANNER*/
.banner__image {
  width: 94%;
  margin: auto;
  height: 900px;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.banner {background-color: #403e33;}
  
/*INDEX - INTRODUCTION*/
.intro {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 50px;
  background-color: #F5CFDE;
  height: 700px;
}

.intro__text {
  flex: 1;
  color: #403e33;
}

.intro__portrait--image {
  max-width: 350px;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
}
  
 /*INDEX - MY PROJECTS*/ 
.works /*denne class er ikke skrevet med BEM, da det ikke virker, hvis jeg gør. Jeg har forsøgt med forskellige class-navne, for at sikre at det ikke er fordi at noget overskriver, men det virker stadig ikke*/{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 40px;
  height: 920px;
  background-color: #B4AFA1;
}

.works img, #item2, #item5 {
  width: 260px;
  border-radius: 10px;
  height: 380px;
  object-fit: cover;
  margin-left: 15px;
  margin-bottom: 15px;
}

.myprojects__paragraph, .myprojects__heading--index {
  width: 700px;
  color: #403e33;
  padding-top: 30px;
}

.myprojects__heading--index, .intro__headline {
  font-family: "Metrophobic", sans-serif;
  font-size: 50px;
}

.image__container {
  display: grid;
  /*grid-template-rows: 2;
  grid-template-columns: 3;*/
  grid-template-areas: 
  'en to tre'
  'fire fem seks';}
#item1 {grid-area: en;}
#item2 {grid-area: to;}
#item3 {grid-area: tre;}
#item4 {grid-area: fire;}
#item5 {grid-area: fem;}
#item6 {grid-area: seks;}

/*KNAP*/
button {
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #F5CFDE;
  color: #21201a;
  margin-top: 60px;
  font-size: 20px;
  font-family: "Metrophobic", sans-serif;
  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  background-color: #ffa8d2;
  color: #F0EEE8;
}

footer {
  background-color: #403e33;
  width: 100%;
  height: 300px;
  color: #F0EEE8;
}

.footer__title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 50px;
}

.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__text {
  margin: 0;
  font-size: 15px;
}

/*UNDERSIDER GENERELT*/
.navbar__logounderside--de {
  font-family: "Climate Crisis", sans-serif;
  font-size: 40px;
}

.navbar__logounderside--neergaard {
  font-family: "Climate Crisis", sans-serif;
  font-size: 70px;
}

.navbar__logo--underside {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 0.9;
  padding-top: 50px;
  color: #403e33;
}

.header__underside {
  background-color: #B4AFA1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.body__underside {background-color: #B4AFA1;}

.main__underside {
  background-color: #F0EEE8;
  width: 94%;
  margin: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: auto;
}

/*INDIKATIONER PÅ HVOR MAN ER I NAV PÅ DE ENKELTE UNDERSIDER*/
.navbar__link--contact {text-decoration: underline;}
.navbar__link--aboutme {text-decoration: underline;}
.navbar__link--skills {text-decoration: underline;}
.navbar__link--projects {text-decoration: underline;}

/*UNDERSIDE - CONTACT*/
.contact__info {
  display: grid;
  /*grid-template-rows: 1;*/
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  'contact_info portrait';
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 120px;
  color: #262d33;
}

.contact__info--portrait {
  width: 400px;
  border-radius: 10px;
  grid-area: portrait;
}

.contact__info--text {grid-area: contact_info;}

.contact__info--paragraph {padding-bottom: 50px;}

.contact__info--heading {padding-bottom: 20px;}

.contact__icon {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

/*UNDERSIDE - MY SKILLS*/
.myskills__cards--container {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.myskills__card {
  width: 30%;
  height: 600px;
  background-color: #F5CFDE;
  border-radius: 10px;
}

.myskills__heading {
  text-align: center;
  padding-top: 20px;
}

.skills__logo {
  width: 300px;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.skills__text {
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 50px; /*margin: auto; gider ikke virke her, derfor er de sat individuelt*/
}

/*UNDERSIDE - MY PROJECTS*/
.main__underside--projects {
  background-color: #F0EEE8;
  width: 94%;
  margin: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 2350px;
}

.myprojects__cards--container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'project1 project2'
  'project3 project4'
  'project5 project6';
  padding-left: 80px;
  padding-right: 80px;}
#project1 {grid-area: project1;}
#project2 {grid-area: project2;}
#project3 {grid-area: project3;}
#project4 {grid-area: project4;}
#project5 {grid-area: project5;}
#project6 {grid-area: project6;}

.myprojects__card {
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  color: #403e33;
}

.myprojects__card--image, .myprojects__card--video {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.myprojects__text > h2 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.myprojects__text {
  padding-bottom: 50px;
}

.myprojects__heading {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}

/*UNDERSIDE - ABOUT ME*/
.aboutme__portrait {
  width: 200px;
}

.main__underside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f0eee8;
  flex-wrap: wrap;
}

.aboutme__blok {
  flex: 1;
  max-width: 400px;
  text-align: center;
  color: #403e33;
  background-color: #F5CFDE;
  height: 636px;
  border-radius: 10px;
  margin-top: 20px;
}

.aboutme__portrait {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 30px;
  margin-top: 50px;
}

.aboutme__blok h1 {font-size: 45px;}

.aboutme__info--text {
  flex: 2;
  max-width: 900px;
  color: #403e33;
  margin-top: 65px;
}

.aboutme__info--text h1 {font-size: 40px;}

/*SKALERING - MELLEM SKÆRM*/
@media screen and (max-width: 1024px) {
  .header__index {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar {
    padding: 25px 30px;
  }

  .navbar__logo {
    padding-top: 95px;
  }

  .navbar__logo--de {
    font-size: 60px;
  }

  .navbar__logo--neergaard {
    font-size: 110px;
  }

  .intro {
    height: auto;
  }

  .works {
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
    align-items: center;
  }

  .image__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .works img, #item2, #item5 {
    max-width: 300px;
    height: auto;
    margin: 0;
  }

  .myprojects__heading--index,
  .myprojects__paragraph {
    width: 100%;
    max-width: 700px;
    padding: 15px 0;
    text-align: center;
  }

  button {
    margin: 32px auto 0 auto;
    display: block;
  }

  .main__underside {
    height: 1200px;
  }

  .navbar__logounderside--de {
    font-size: 25px;
    z-index: -1;
  }

  .navbar__logounderside--neergaard {
    font-size: 50px;
    z-index: -1;
  }

  .main__underside--projects {
    height: auto;
  }

  .myprojects__card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .myprojects__card--image,
  .myprojects__card--video {
    height: 250px;
  }

  .myskills__cards--container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
  }

  .myskills__card {
    width: 45%;
    height: auto;
    padding-bottom: 30px;
  }

  .skills__logo {
    width: 200px;
    padding-top: 30px;
  }

  .skills__text {
    padding-top: 30px;
    margin: 0 30px;
  }

  .contact__info--portrait {
    height: 400px;
    width: 300px;
    margin-left: 40px;
    object-fit: cover;
  }
}

/*SKALERING - LILLE SKÆRM */
@media screen and (max-width: 599px) {
  .navbar {
    padding: 20px 15px;
  }

  .navbar__left,
  .navbar__right {
    gap: 20px;
    font-size: 15px;
  }

  .navbar__logo--de {
    font-size: 30px;
  }

  .navbar__logo--neergaard {
    font-size: 60px;
  }

  .intro {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
    height: auto;
    align-items: center;
    text-align: left;
  }

  .intro__portrait--image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
  }

  .intro__text {
    width: 100%;
  }

  .intro__headline {
    font-size: 25px;
    line-height: 1.4;
  }

  .intro__paragraph {
    font-size: 15px;
    line-height: 1.6;
  }

  .works {
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
    height: auto;
  }

  .image__container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }

  .works img, #item2, #item5 {
    max-width: 160px;
    height: 220px;
  }

  .myprojects__paragraph,
  .myprojects__heading--index {
    text-align: left;
    padding-top: 10px;
  }

  button {
    max-width: 260px;
    font-size: 15px;
    margin-top: 30px;
  }

  footer {
    height: 400px;
  }

  .myprojects__cards--container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
  }

  .myprojects__card {
    width: 100%;
    margin: 0;
  }

  .main__underside--projects {
    height: auto;
  }

  .myskills__cards--container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 0 16px;
  }

  .myskills__card {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .skills__logo {
    width: 150px;
    margin: 0 16px 0 0;
  }

  .skills__text {
    margin: 0;
    padding: 0;
  }

  .contact__info--portrait {
    height: 200px;
    width: 150px;
    margin-left: 40px;
    object-fit: cover;
  }
}